<%= form_with(model: @user, url: wizard_path, method: :put, local: true) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password %>
  </div>

  <div class="actions">
    <%= form.submit "Next Step", "data-remote": false %>
  </div>
<% end %>
